In [1]:
pip install requests beautifulsoup4 pandas

Requirement already satisfied: requests in c:\users\npstanwar\anaconda3\lib\site-packages (2.32.3)
Requirement already satisfied: beautifulsoup4 in c:\users\npstanwar\anaconda3\lib\site-packages (4.12.3)
Requirement already satisfied: pandas in c:\users\npstanwar\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\npstanwar\anaconda3\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\npstanwar\anaconda3\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\npstanwar\anaconda3\lib\site-packages (from requests) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\npstanwar\anaconda3\lib\site-packages (from requests) (2024.12.14)
Requirement already satisfied: soupsieve>1.2 in c:\users\npstanwar\anaconda3\lib\site-packages (from beautifulsoup4) (2.5)
Requirement already satisfied: numpy>=1.26.0 in c:\users\npstanwar\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\npstanwar\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\npstanwar\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\npstanwar\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\npstanwar\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import requests

url = "https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States"

# Adding a user agent to prevent request rejection
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}
response = requests.get(url, headers=headers)

# Check if the request was successful
if response.status_code == 200:
    print("Page fetched successfully!")
else:
    print(f"Failed to fetch page. Status code: {response.status_code}")

Page fetched successfully!

In [5]:
from bs4 import BeautifulSoup

# Parse the HTML content
soup = BeautifulSoup(response.content, 'html.parser')

# Locate the table with the data
table = soup.find('table', {'class': 'wikitable'})

In [7]:
for row in table.find_all('tr')[1:]:  # Skip header row
    cells = row.find_all('td')
    print([cell.text.strip() for cell in cells])  # Print the entire row content

[]
['AL', 'Montgomery', 'Huntsville', 'Dec 14, 1819', '5,024,279', '52,420', '135,767', '7']
['AK', 'Juneau', 'Anchorage', 'Jan 3, 1959', '733,391', '665,384', '1,723,337', '1']
['AZ', 'Phoenix', 'Feb 14, 1912', '7,151,502', '113,990', '295,234', '9']
['AR', 'Little Rock', 'Jun 15, 1836', '3,011,524', '53,179', '137,732', '4']
['CA', 'Sacramento', 'Los Angeles', 'Sep 9, 1850', '39,538,223', '163,695', '423,967', '52']
['CO', 'Denver', 'Aug 1, 1876', '5,773,714', '104,094', '269,601', '8']
['CT', 'Hartford', 'Bridgeport', 'Jan 9, 1788', '3,605,944', '5,543', '14,357', '5']
['DE', 'Dover', 'Wilmington', 'Dec 7, 1787', '989,948', '2,489', '6,446', '1']
['FL', 'Tallahassee', 'Jacksonville', 'Mar 3, 1845', '21,538,187', '65,758', '170,312', '28']
['GA', 'Atlanta', 'Jan 2, 1788', '10,711,908', '59,425', '153,910', '14']
['HI', 'Honolulu', 'Aug 21, 1959', '1,455,271', '10,932', '28,313', '2']
['ID', 'Boise', 'Jul 3, 1890', '1,839,106', '83,569', '216,443', '2']
['IL', 'Springfield', 'Chicago', 'Dec 3, 1818', '12,812,508', '57,914', '149,995', '17']
['IN', 'Indianapolis', 'Dec 11, 1816', '6,785,528', '36,420', '94,326', '9']
['IA', 'Des Moines', 'Dec 28, 1846', '3,190,369', '56,273', '145,746', '4']
['KS', 'Topeka', 'Wichita', 'Jan 29, 1861', '2,937,880', '82,278', '213,100', '4']
['KY', 'Frankfort', 'Louisville', 'Jun 1, 1792', '4,505,836', '40,408', '104,656', '6']
['LA', 'Baton Rouge', 'New Orleans', 'Apr 30, 1812', '4,657,757', '52,378', '135,659', '6']
['ME', 'Augusta', 'Portland', 'Mar 15, 1820', '1,362,359', '35,380', '91,633', '2']
['MD', 'Annapolis', 'Baltimore', 'Apr 28, 1788', '6,177,224', '12,406', '32,131', '8']
['MA', 'Boston', 'Feb 6, 1788', '7,029,917', '10,554', '27,336', '9']
['MI', 'Lansing', 'Detroit', 'Jan 26, 1837', '10,077,331', '96,714', '250,487', '13']
['MN', 'Saint Paul', 'Minneapolis', 'May 11, 1858', '5,706,494', '86,936', '225,163', '8']
['MS', 'Jackson', 'Dec 10, 1817', '2,961,279', '48,432', '125,438', '4']
['MO', 'Jefferson City', 'Kansas City', 'Aug 10, 1821', '6,154,913', '69,707', '180,540', '8']
['MT', 'Helena', 'Billings', 'Nov 8, 1889', '1,084,225', '147,040', '380,831', '2']
['NE', 'Lincoln', 'Omaha', 'Mar 1, 1867', '1,961,504', '77,348', '200,330', '3']
['NV', 'Carson City', 'Las Vegas', 'Oct 31, 1864', '3,104,614', '110,572', '286,380', '4']
['NH', 'Concord', 'Manchester', 'Jun 21, 1788', '1,377,529', '9,349', '24,214', '2']
['NJ', 'Trenton', 'Newark', 'Dec 18, 1787', '9,288,994', '8,723', '22,591', '12']
['NM', 'Santa Fe', 'Albuquerque', 'Jan 6, 1912', '2,117,522', '121,590', '314,917', '3']
['NY', 'Albany', 'New York City', 'Jul 26, 1788', '20,201,249', '54,555', '141,297', '26']
['NC', 'Raleigh', 'Charlotte', 'Nov 21, 1789', '10,439,388', '53,819', '139,391', '14']
['ND', 'Bismarck', 'Fargo', 'Nov 2, 1889', '779,094', '70,698', '183,108', '1']
['OH', 'Columbus', 'Mar 1, 1803', '11,799,448', '44,826', '116,098', '15']
['OK', 'Oklahoma City', 'Nov 16, 1907', '3,959,353', '69,899', '181,037', '5']
['OR', 'Salem', 'Portland', 'Feb 14, 1859', '4,237,256', '98,379', '254,799', '6']
['PA', 'Harrisburg', 'Philadelphia', 'Dec 12, 1787', '13,002,700', '46,054', '119,280', '17']
['RI', 'Providence', 'May 29, 1790', '1,097,379', '1,545', '4,001', '2']
['SC', 'Columbia', 'Charleston', 'May 23, 1788', '5,118,425', '32,020', '82,933', '7']
['SD', 'Pierre', 'Sioux Falls', 'Nov 2, 1889', '886,667', '77,116', '199,729', '1']
['TN', 'Nashville', 'Jun 1, 1796', '6,910,840', '42,144', '109,153', '9']
['TX', 'Austin', 'Houston', 'Dec 29, 1845', '29,145,505', '268,596', '695,662', '38']
['UT', 'Salt Lake City', 'Jan 4, 1896', '3,271,616', '84,897', '219,882', '4']
['VT', 'Montpelier', 'Burlington', 'Mar 4, 1791', '643,077', '9,616', '24,906', '1']
['VA', 'Richmond', 'Virginia Beach', 'Jun 25, 1788', '8,631,393', '42,775', '110,787', '11']
['WA', 'Olympia', 'Seattle', 'Nov 11, 1889', '7,705,281', '71,298', '184,661', '10']
['WV', 'Charleston', 'Jun 20, 1863', '1,793,716', '24,230', '62,756', '2']
['WI', 'Madison', 'Milwaukee', 'May 29, 1848', '5,893,718', '65,496', '169,635', '8']
['WY', 'Cheyenne', 'Jul 10, 1890', '576,851', '97,813', '253,335', '1']

In [9]:
import pandas as pd

# Initialize lists to store the data
states = []
populations = []

# Loop through table rows and extract data
for row in table.find_all('tr')[1:]:  # Skip the header row
    cells = row.find_all('td')
    if len(cells) > 4:
        state = cells[0].text.strip()  # Extract the state name
        population = cells[4].text.strip().replace(',', '')  # Extract the population and clean it
        states.append(state)
        populations.append(population)

# Create a DataFrame
df = pd.DataFrame({'State': states, 'Population': populations})
print(df.head())  # Display the first few rows

  State Population
0    AL    5024279
1    AK     733391
2    AZ     113990
3    AR      53179
4    CA   39538223

In [11]:
# Save to a CSV file
df.to_csv('us_states_population.csv', index=False)
print("Data saved to 'us_states_population.csv'")

Data saved to 'us_states_population.csv'